<div id="<%= dom_id profile %>">
  <p>
    <strong>Index:</strong>
    <%= profile.index %>
  </p>

  <p>
    <strong>Show:</strong>
    <%= profile.show %>
  </p>

  <p>
    <strong>Edit:</strong>
    <%= profile.edit %>
  </p>

  <p>
    <strong>Delete:</strong>
    <%= profile.delete %>
  </p>

  <p>
    <strong>New:</strong>
    <%= profile.new %>
  </p>

</div>
